/* Assigning theme colors to variables. */
:root {
    --background-dark:#23282c;
    --light-color:#eaedf0;
    --medium-color:#bcbfc2;
    --main-accent-color:#2b8546;
    --other-accent-color:#b62029;
    --main-accent--translucent:rgba(43, 133, 70,.7);
    --featured-accent-translucent:rgba(35, 40, 44, .7);
    --light-semi-transparent:rgba(234, 237, 240, .2);
}

html {
    scroll-behavior:smooth;
}

/* Creating a basic theme for the page */
body {
    background-color:var(--background-dark);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:var(--medium-color);
    font-size:1.7vw;
    line-height:1.4;
}

/* The nav bar should remain at the top of the screen. The links should be left-aligned and spaced out. */
header {
    position:fixed;
    width:100%;
    background-color:var(--background-dark);
    box-shadow:2px 2px 5px #14171a;
    z-index:10;
    scroll-behavior:smooth !important;
}

nav {
    display:flex;
    justify-content:flex-start;
    margin-left:20px;
    margin-right:20px;
    line-height:3;
}

nav a {
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
    color:var(--light-color);
    flex: .1 1 auto;
    
}

/* Because the nav bar is fixed, each section needs extra padding at the top so the heading doesn't get covered by the nav bar. */
.link-to {
    padding:60px 25px 25px 25px;
}

#hero {
    display:flex;
    align-items:flex-start;
    margin-bottom:10%;
    padding-top:60px;
}

.hero img {
    flex:1 1 auto;
}

#hook {
    padding-left:7%;
    padding-right:7%;
    padding-top:auto;
    flex:2 2 auto;
    align-self:center;
}

h1 {
    font-size:450%;
    font-weight:600;
    font-stretch:expanded;
    padding-bottom:1%;
    color:var(--light-color);
    
}

aside p {
    padding-top:7%;
}

#headline {
    font-size:185%;
    padding-top:1%;
    padding-bottom:7%;
    border-bottom:4px solid var(--main-accent-color);
}

h2 {
    font-size:180%;
    color:var(--main-accent-color);
    line-height:2;
    font-family:Arial, Helvetica, sans-serif;
}

p {
    text-align:justify;
    padding:10px 0px 10px 0px;
}

.highlight {
    font-weight:600;
    color:var(--main-accent-color);
}

.contrast {
    font-weight:600;
    color:var(--other-accent-color);
}

/* Creating a flexbox layout for the work projects, keeping the first (featured) project twice the width of the remaing ones, while allowing the sections to scale and wrap as needed. */
#projects {
    display:flex;
    flex-wrap:wrap;
    justify-content:flex-start;
}

.featured-project {
    flex:0 1 calc(50% - 1.75em);
    background-color:var(--main-accent-color);
    border:2px solid var(--light-color);
    margin-bottom:1em;
    margin-right:1em;
    overflow:hidden;
}

.project {
    flex:0 1 calc(25% - 1.5em);
    border:2px solid var(--main-accent-color);
    margin-bottom:1em;
    margin-right:1em;
    overflow:hidden;
}

h3 {
    font-size:140%;
    font-style:italic;
    line-height:1.5;
    padding-left:25px;
    padding-right:25px;
    padding-bottom:5px;
    text-decoration:none;
    color:var(--background-dark);
    background-color: var(--medium-color);
    width:fit-content;
    border-radius:2px;
    transform:translateY(25%);
    border-bottom:3px solid var(--other-accent-color);
    z-index:2;
    position:relative;
}

.featured-project h3 {
    background-color:var(--light-color);
}

.featured-project a, .project a {
    z-index:1;
}

.image-container {
    background-color: var(--light-color);
    width:90%;
    font-size:0;
    line-height:0;
    position:relative;
}

/* Creting an overlay for the description and tech stack for each project that overlaps the image. */
.details {
    flex:1 1 auto;
    width:80%;
    position:relative;
    margin-left:15%;
    margin-top:-25%;
    z-index:2;
}

.featured-project .details {
    margin-top:-13%;
}

.description {
    background-color:var(--main-accent--translucent);
    font-size:smaller;
    padding:1em;
    color:var(--light-color);
    text-align:left;
}

.featured-project .description {
    background-color:var(--featured-accent-translucent);
    text-align:left;
}

.tech-stack {
    list-style:none;
    display:flex;
    flex-wrap:wrap;
    justify-content:flex-start;
    gap:10px;
    padding-top:3px;
    font-size:smaller;
    background-color: var(--featured-accent-translucent);
}

.featured-project .tech-stack {
    padding-left:1em;
    padding-right:1em;
}

#contact ul {
    margin-left:4ch;
    line-height:1.7;
    list-style:none;
}

.contact-icon {
    font-size:160%;
}

/* Styling the footer. */
footer {
    background-color:var(--main-accent-color);
    margin-top:3%;
}

footer p {
    text-align:center;
    color:var(--light-color);
    font-size:1.4vw;
}

/* Styling the various states for the links on the page. */
a:link {
    color:var(--light-color);
    text-decoration:none;
}

a:visited {
    color:var(--other-accent-color);
}

nav a:visited {
    color:var(--light-color);
    text-decoration:none;
}

a:hover {
    color:var(--main-accent-color);
}

nav a:hover {
    color:var(--main-accent-color);
}

.featured-project a:hover img, .project a:hover img {
    opacity:0.7;
}

/* Using media queries to determine how many projects appear on each row based on the size of the screen and ensure the text on the page is large enough to read at any screen size. */
@media screen and (max-width:768px) {
    body {
        font-size:18px;
    }

    h1 {
        font-size:300%;
    }

    #headline {
        font-size:170%;
    }

    #projects {
        justify-content:space-between;
    }

    .featured-project {
        flex: 0 1 100%;
        margin-right: 0em;
    }
    
    .project {
        flex: 0 1 calc(50% - 1em);
        margin-right: 0em;
    }

    footer p {
        font-size:14px;
    }
}

@media screen and (max-width:480px) {
    #projects {
        display:block;
    }

    .featured-project a img {
        width:100%;
    }

    .project a img {
        /* width:50%; */
    }

    .project a .image-container {
        width:50%;
    }
}