:root {
    --background-dark:#23282c;
    --light-color:#eaedf0;
    --medium-color:#bcbfc2;
    --main-accent-color:#2b8546;
    --other-accent-color:#b62029;
    --main-accent--translucent:rgba(43, 133, 70,.7);
    --featured-accent-translucent:rgba(35, 40, 44.7);
}

body {
    background-color:var(--background-dark);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:var(--medium-color);
    font-size:1.65vw;
    line-height:1.4;
}

header {
    position:fixed;
    width:100%;
    background-color:var(--background-dark);
    box-shadow:2px 2px 5px #14171a;
    z-index:10;
}

nav {
    display:flex;
    justify-content:flex-start;
    margin-left:20px;
    margin-right:20px;
    line-height:3;
}

nav a {
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
    color:var(--light-color);
    flex: .1 1 auto;
    
}

.link-to {
    padding:60px 25px 25px 25px;
}

#hero {
    display:flex;
    align-items:flex-start;
    margin-bottom:10%;
    padding-top:60px;
}

.hero img {
    flex:1 1 auto;
}

#hook {
    padding-left:7%;
    padding-right:7%;
    padding-top:auto;
    flex:2 2 auto;
    align-self:center;
}

h1 {
    font-size:450%;
    font-weight:600;
    font-stretch:expanded;
    padding-bottom:1%;
    color:var(--light-color);
    
}

aside p {
    padding-top:7%;
}

#headline {
    font-size:190%;
    padding-top:1%;
    padding-bottom:7%;
    border-bottom:4px solid var(--main-accent-color);
}

h2 {
    font-size:180%;
    color:var(--main-accent-color);
    line-height:2;
    font-family:Arial, Helvetica, sans-serif;
}

p {
    text-align:justify;
    padding:10px 0px 10px 0px;
}

.highlight {
    font-weight:600;
    color:var(--main-accent-color);
}

.contrast {
    font-weight:600;
    color:var(--other-accent-color);
}

#projects {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    gap:3%;
    /* row-gap: 3%; */
    align-items:space-evenly;
}

.featured-project {
    flex:2 1 600px;
    display:inline;
    width:100%;
    background-color:var(--main-accent-color);
    border:2px solid var(--light-color);
    margin-bottom:3%;
}

.project {
    flex:1 1 300px;
    display:inline;
    width:50%;
    border:2px solid var(--main-accent-color);
    margin-bottom:3%;
}

h3 {
    font-size:140%;
    font-style:italic;
    line-height:1.5;
    padding-left:25px;
    padding-right:25px;
    padding-bottom:5px;
    text-decoration:none;
    color:var(--background-dark);
    background-color: var(--medium-color);
    width:fit-content;
    border-radius:2px;
    transform:translateY(25%);
    border-bottom:3px solid var(--other-accent-color);
}

.featured-project h3 {
    background-color:var(--light-color);
}

.featured-project a, .project a {
    /* flex:2 1 auto; */
    z-index:1;
}

.featured-project a img , .project a img {
    flex:1 1 auto;
    /* width:70%;
    max-height:calc(100% - 48px); */
}

.details {
    flex:1 1 auto;
    width:80%;
    position:relative;
    margin-left:15%;
    margin-top:-25%;
    z-index:2;
}

.description {
    background-color:var(--main-accent--translucent);
    padding:1%;
    font-size:smaller;
}

.featured-project .description {
    background-color:var(--featured-accent-translucent);
}

.tech-stack {
    list-style:none;
    display:flex;
    flex-wrap:wrap;
    justify-content:flex-start;
    gap:10px;
    margin-top:3px;
}

#contact ul {
    margin-left:4ch;
    line-height:1.7;
    list-style:none;
}

.contact-icon {
    font-size:160%;
}

footer {
    background-color:var(--main-accent-color);
    margin-top:3%;
}

footer p {
    text-align:center;
    color:var(--light-color);
    font-size:1.4vw;
}

a:link {
    color:var(--light-color);
    text-decoration:none;
}

a:visited {
    color:var(--other-accent-color);
}

nav a:visited {
    color:var(--light-color);
    text-decoration:none;
}

a:hover {
    color:var(--main-accent-color);
}

nav a:hover {
    color:var(--main-accent-color);
}


@media screen and (max-width:1000px) {
    body {
        font-size:18px;
    }

    h1 {
        font-size:300%;
    }

    #headline {
        font-size:170%;
    }
}
